.myBtn{
    background: #B68C5A;
}
.myBtn:hover{
    color: black !important;
}
.head-background{
    background: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
}

.indicator-background{
    background-color: #a36d2cb6;
}
.slider-inside-image{
   width: 15%;
}
.question{
    margin-top: 20px;
    border: none;
}

.footer-button{
    margin-left: -10px;
    border-radius: 5px;
}
.choose-div{
    transition: .8s;
}
.choose-div:hover{
    transform: scale(1.2);
    background: #f5da1bb8;
}